.App {
  text-align: center;
}

.youtube-logo {
  width: 100px;
}

.results-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 60px 0;
}

.youtube-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  border-bottom: 1px solid gray;
}

.video-thumbnail {
  border-radius: 10px;
}

.video-text {
  width: 80%;
  text-align: justify;
}

.form-container .form-input {
  border: 1px solid gray;
  border-radius: 5px;
  width: 300px;
  padding: 5px;
}

.form-container .form-button {
  width: 100px;
  padding: 5px;
  background: transparent;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 5px;
}

.form-container .form-button:hover {
  cursor: pointer;
  box-shadow: 0 .25rem .5rem rgba(0,0,0,.2);
}